<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>Qing's Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/codehilite.css">
<link rel="stylesheet" href="/statics/mblog.css">

</head>
<body>
<div class="container-fulid">
<div class="center-block col-md-4" style="float: none" />
{% block content%}{% endblock %}
</div>
</div>
{% include "cdn.js" %}
{% include "functions.js" %}
{% block script %}{% endblock %}
</body>
</html>
