<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>Qing's Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/statics/codehilite.css" />
<link rel="stylesheet" href="/statics/mblog.css" />

</head>
<body>
{% include "__nav.html" %}
<div class="container-fulid">
  <div class="row infobar">
    <div class="center-block col-md-4" style="float: none">
      <i class="fa fa-thermometer-half" aria-hidden="true" id='temper'>0</i>
      <i class="fa fa-thermometer-half" aria-hidden="true" id='humidity'>0</i>
    </div>
  </div>
  <div class="row content">
    <div class="center-block col-lg-4 col-md-12"  style="float: none">
    {% block content%}{% endblock %}
    </div>
  </div>
  {% include "cdn.js" %}
  <script src="/statics/functions.js"></script>
  <script src="/statics/global.js"></script>
  {% block script %}{% endblock %}

  <div class="row footer">
    <div class="center-block col-md-4 col-xs-12"  style="float: none">
      <footer>
        {% block footer %}
          <p><a href="/blogs/about">about</a>|powered by <a href="/blogs/contact">qing</a></p>
        {% endblock %}
      </footer>
    </div>
  </div>
</div>

</body>
</html>
