<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>Qing's Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/codehilite.css">
<link rel="stylesheet" href="/statics/mblog.css">

</head>
<body>
{% include "__nav.html" %}
<div class="container-fulid">
  <div class="row content">
    <div class="center-block col-md-4 col-xs-12"  style="float: none">
    {% block content%}{% endblock %}
    </div>
  </div>
</div>
{% include "cdn.js" %}
{% include "functions.js" %}
{% include "global.js" %}
{% block script %}{% endblock %}
</body>
</html>
