{% extends "__base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="post" action="/data/stock">

      <div class="form-group row">
        <label for="code" class="col-sm-4 col-form-label">CODE</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" value="000001" id="code" name="code">
        </div>
      </div>

      <div class="form-group row">
        <label for="hold-position" class="col-sm-4 col-form-label">HOLD POSITION</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" value="100" id="hold-position" name="hold_position">
        </div>
      </div>

      <div class="form-group row">
        <label for="bid-price" class="col-sm-4 col-form-label">BID PRICE</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" value="10.11" id="bid-price" name="bid_price">
        </div>
      </div>

      <div class="form-group row">
        <label for="stop-loss-price" class="col-sm-4 col-form-label">STOP LOSS PRICE</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" value="10.11" id="stop-loss-price" name="stop_loss_price">
        </div>
      </div>

      <div class="form-group row">
        <label for="total-price" class="col-sm-4 col-form-label">Total Price</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="0" id="total-price" disabled>
          </div>
      </div>

      <div class="form-group row">
        <label for="total-lost" class="col-sm-4 col-form-label">Total Lost</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="0" id="total-lost" disabled>
          </div>
      </div>

      <div class="form-group row">
        <label for="risk" class="col-sm-4 col-form-label">RISK PERCENT</label>
          <div class="input-group">
            <input class="form-control col-sm-4" type="text" value="0" id="risk">
            <div class="input-group-addon">%</div>
          </div>
        </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
register_stop_loss_price_change_event();
</script>
{% endblock %}
