{% extends "__base.html" %}
{% block content %}
<div class="row">
<div class="col-md-12">
  <div id="policy_buttons">
  </div>
<div id="total"></div>
<table class="table" id="turtle-system">
  <thead><tr id="head-tr"><th>Update Time</th><th>Name</th><th>Code</th><th>Update Price</th></tr></thead>
  <tbody></tbody>
</table>
</div>
</div>
{% endblock %}

{% block script %}
<script>
function fill_table_rows(resp){
  $('#total').text(resp.length);
  tbody = $('<tbody/>');
  $(".rule-results").remove();
  if (resp.length > 0){
    for (i = 0; i < Object.keys(resp[0]["rule_results"]).length; i++){
            var th_tag = $("<th/>");
            th_tag.attr("class", "rule-results");
            th_tag.text(Object.keys(resp[0].rule_results)[i]);
            $("#head-tr").append(th_tag);
    }
  }
  for (var i = 0; i < resp.length; i++){
    tr = $('<tr/>');
    tr.append("<td>" + resp[i].update_time + "</td>");
    a_tag = $('<a/>');
    if(resp[i].code.substr(0, 2) === '60'){
      href = "http://finance.sina.com.cn/realstock/company/sh" + resp[i].code + "/nc.shtml";
    } else if(resp[i].code.substr(0, 2) === '30' || resp[i].code.substr(0, 2) === '00'){
      href = "http://finance.sina.com.cn/realstock/company/sz" + resp[i].code + "/nc.shtml";
    } else {
      href = 'http://quote.eastmoney.com/' + resp[i].code + '.html'
    }
    a_tag.attr('href', href);
    a_tag.attr('target', '_blank');
    a_tag.text(resp[i].name);
    td_tag = $('<td/>');
    td_tag.append(a_tag);
    tr.append(td_tag);
    tr.append("<td>" + resp[i].code + "</td>");
    tr.append("<td>" + resp[i].now.toFixed(2) + "</td>");
    var keys = Object.keys(resp[i]["rule_results"]);
    for (j = 0; j < keys.length; j++){
            tr.append("<td>" + resp[i]["rule_results"][keys[j]] + "</td>");
    }
    tbody.append(tr);
  }
  $("#turtle-system").append(tbody);
  $("#loading").remove();
}
function load_system(sysnum){
  $('tbody').remove();
  insert_loading_after($("table"));
  $.ajax({
      method: "GET",
      url: "/data/policy/" + sysnum,
      success: fill_table_rows,
  });
}
$(function(){
  register_sort_fun();
  show_system_buttons();
}
)
function show_system_buttons(){
  $.ajax({
          method: "GET",
          url: "/data/policylist",
          success: function(resp){
              var resp = resp.sort();
              for (i = 0; i < resp.length; i++){
                  a_tag = $("<a/>");
                  a_tag.attr('id', resp[i]);
                  a_tag.attr('class', "btn btn-primary");
                  a_tag.text(resp[i]);
                  $("#policy_buttons").append(a_tag);
                  $("#policy_buttons").append(" ");
                  $('#' + resp[i]).click(function(){load_system(this.id);})

              }
            }
          }
)
}
</script>
{% endblock %}
