{% extends "__base.html" %}
{% block content %}
<div class="row">
  <div class="tool-bar">
    <a class="btn btn-primary" href="/user/stock/create">
            <i class="fa fa-plus" aria-hidden="true"></i> Create</a>
  </div>
  <div id="mystocks" class="col-md-12">
  </div>
</div>
{% endblock %}
{% block script %}
<script>
function fill_table(resp){
  var ths = ["code", "hold_position", "bid_price", "stop_loss_price", "risk_percentage"];
  var rows = [];
  for(i = 0; i < resp.length; i++){
    var risk_perc = (resp[i]["bid_price"] - resp[i]["stop_loss_price"]) / resp[i]["bid_price"];
    resp[i].risk_percentage = risk_perc.toFixed(2);
    row = [];
    for(j = 0; j < ths.length; j++){
      row.push(resp[i][ths[j]]);
    }
    rows.push(row);
  }
  tb = put_data_in_table(ths, rows);
  $("#mystocks").append(tb);
}

$(function (){
  $.ajax({
    method: "GET",
    url: "/data/stock",
    success: fill_table})
})
</script>
{% endblock %}
